#
# Copyright (c) 2019 The Aquarium Project Authors. All rights reserved.
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.
#

# Defines the AQUARIUM style for automatic reformatting.
BasedOnStyle: Chromium

# Allow double brackets such as std::vector<std::vector<int>>.
Standard: Cpp11

# Do not merge top level empty functions
AllowShortFunctionsOnASingleLine: InlineOnly

IndentCaseLabels: false

# Right-align pointers and references
PointerAlignment: Right

# Use 2 space negative offset for access modifiers
AccessModifierOffset: -2

AllowShortCaseLabelsOnASingleLine: false

# Useful for spacing out functions in classes
KeepEmptyLinesAtTheStartOfBlocks: true
