#
# Copyright (c) 2019 The Aquarium Project Authors. All rights reserved.
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.
#
# Ignore Visual Studio temporary files, build results,
# third party libraries and gn build dummy folders.

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates
*.ini

# Third party libraries
/third_party/SPIRV-Tools/
/third_party/angle/
/third_party/dawn/
/third_party/glfw/
/third_party/glslang/
/third_party/googletest/
/third_party/jsoncpp/
/third_party/llvm-build/
/third_party/rapidjson/
/third_party/stb/
/third_party/vulkan-headers/
/third_party/vulkan-validation-layers/

# Gn build dummy folders
/.cipd/
/.gclient_entries
/build/
/buildtools/
/out/
/testing/
/tools/
